<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Tutorial</title>
    <!-- <base href="https://codefirst.iut.uca.fr/containers/HyperSet-hyperset/"> -->
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <link rel="stylesheet" type="text/css" href="../styles/index.css">
</head>


<header>
    <ul id="nav-bar">
        <li><a href="../index.html">Home</a></li>
        <li><a href="./cards-test.html">Card Test</a></li>
        <li><a href="./tutorial.html">Tutorial</a></li>
        <li><a href="./leaderboard.html">Leaderboard</a></li>
        <li><a href="./about.html">About</a></li>
    </ul>
</header>

<body>
    <div id="horizontale-center">
        <h2>BEST SCORES</h2><br />

        <div id="verticale-center">

        <h5>Select a type of game</h5>
        <select name="pets" id="high-score-option">
            <option value="T0">--Choose an option--</option>
            <option value="T1">Set</option>
            <option value="T2">Hyperset</option>
        </select>

        <h5>Select a variant</h5>
        <select name="pets" id="high-score-option">
            <option value="V0">--Choose an option--</option>
            <option value="V1">3*3</option>
            <option value="V2">3*4</option>
            <option value="V3">3*5</option>
            <option value="V4">4*4</option>
            <option value="V5">4*5</option>
            <option value="V6">5*5</option>
        </select>
        </div>


        <br />

        <table>
            <thead>
                <tr>
                    <th colspan="1">Tableau des meilleures scores</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>The table body</td>
                </tr>
                <tr>
                    <td>The table body</td>
                </tr>
                <tr>
                    <td>The table body</td>
                </tr>
                <tr>
                    <td>The table body</td>
                </tr>
                <tr>
                    <td>The table body</td>
                </tr>

            </tbody>
        </table>
    </div>



</body>

</html>