<!DOCTYPE html>

<!--
    Si vous rrouvez une unitilité à ce truc, n'hésitez pas.'    
-->

<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <link rel="stylesheet" type="text/css" href="../styles/index.css">
</head>

<header>
    <ul id="nav-bar">
        <li><a href="./index.html">Home</a></li>
        <li><a href="./views/cards-test.html">Card Test</a></li>
        <li><a href="./tutorial.html">Tutorial</a></li>
        <li><a href="./views/leaderboard.html">Leaderboard</a></li>
        <li><a href="./views/about.html">About</a></li>
    </ul>
</header>

</html>