<!DOCTYPE html>
<html>

<head>
  <title>Room - HyperSet</title>
  <link rel='stylesheet' type='text/css' href='/styles/style.css' />
  <link rel='stylesheet' type='text/css' href='/styles/room.css' />
</head>

<body>
  <section id="left-section">
    <button>Orignal Set Game</button>

    <span id="or">OR</span>

    <span class="sub-title">Card number to make a set</span>
    <div id='card-param'>
      <input type='checkbox' /> <span>3</span>
      <input type='checkbox' /> <span>4</span>
      <input type='checkbox' /> <span>5</span>
    </div>

    <span class="sub-title">Attributes to play with</span>
    <div id='attributes-param'>
      <input type='checkbox' /> <span>number</span>
      <input type='checkbox' /> <span>color</span>
      <input type='checkbox' /> <span>shape</span>
      <input type='checkbox' /> <span>filling</span>
      <input type='checkbox' /> <span>outline (c'est nul)</span>
    </div>
  </section>

  <section id="right-section">
    <span>Game parameters</span>

    <span>Private</span> <input type='checkbox' />
    <span>JE SUIS UN SLIDER</span>

    <span>HyperSet</span> <input type='checkbox' />

    <div id="players">
      <span>List of player in room:</span>
      <span>Aurianus</span>
      <span>Basuw</span>
      <span>Raph</span>
      <span>Remrem</span>
    </div>

    <button>START</button>
  </section>
</body>

</html>
