<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Tutorial</title>
    <!-- <base href="https://codefirst.iut.uca.fr/containers/HyperSet-hyperset/"> -->
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <link rel="stylesheet" type="text/css" href="../styles/index.css">
</head>


<header>
    <ul id="nav-bar">
        <li><a href="../index.html">Home</a></li>
        <li><a href="./cards-test.html">Card Test</a></li>
        <li><a href="./tutorial.html">Tutorial</a></li>
        <li><a href="./leaderboard.html">Leaderboard</a></li>
        <li><a href="./about.html">About</a></li>
    </ul>
</header>

<body>
    <div id="tuto-block">
        <div id="p-block">
            <img src="../resources/logo.png"
                 id="picture-logo"
                 width="200"
                 height=auto
                 alt="Picture not found" /><br /><br />
            <p>
                Cette application web vous permet de joueur au célèbre jeu Set.<br />
                Votre but est d'engendrer un maximum de points avant la fin du temps imparti,
                pour cela, vous devez réunir des ensembles de 3 cartes.<br />
                Un ensemble est constitué de trois cartes où chaque caractéristique est soit identique, soit différente pour chacune des cartes.<br />
                Par exemple, un ensemble pourrait être composé d'une carte rouge pleine en forme de losange avec un remplissage rayé,
                une carte verte vide en forme d'ovale avec un remplissage plein et une carte violette pleine en forme de vague avec un remplissage vide.<br />
                A vous de jouer !!!
            </p>
        </div>
    </div>



</body>

</html>