<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <!-- <base href="https://codefirst.iut.uca.fr/containers/HyperSet-hyperset/"> -->
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link rel="stylesheet" type="text/css" href="/styles/index.css">
</head>


<header>
    <ul id="nav-bar">
        <li><a href="./index.html">Home</a></li> <!-- maybe put a logo -->
        <li><a href="./views/cards-test.html">Card Test</a></li>
        <li><a href="./views/tutorial.html">Tutorial</a></li>
        <li><a href="./views/leaderboard.html">Leaderboard</a></li>
        <li><a href="./views/about.html">About</a></li>
    </ul>
</header>

</html>