.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 6vw;
  min-height: 30vh;
  padding: 0.5em 1em 0.5em 1em;
  margin: 1.2rem; /* for better display */
  border: 0.3em solid black;
  border-radius: 2em;
  background-color: white;
}

.card:hover {
  cursor: pointer;
}

svg {
  rotate: 90deg;
  height: 10vh;
  width: 5vw;
}

.item {
}

#main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}